* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 0 112px;
}

.w {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d {
    width: 234px;
    height: 24px;
    padding-left: 50px;
    gap: 30px;
    display: flex;
}

.mama {
    background-color: grey;
}

.qwer {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.qy {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 40px;
}

.aaaa {
    width: 550px;
    height: 434px;
}

.qt {
    font-size: 35px;
    font-weight: 500;
    line-height: 78.4px;
    text-align: left;
}

.az {
    margin-top: 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 110px;
}

.k {
    background-color: #1AAB7B;
    border: none;
    border-radius: 6px;
    padding: 20px 40px 20px 40px;
    transform: translateY(-4px);
    box-shadow: 3px 4px 10px black;
    cursor: pointer;
}

.k:hover {
    background-color: #0e9d6d;
}

.k:active {
    transform: translateY(0px);
    box-shadow: 1px 1px 4px black;
    background-color: #0bbc81
}


.ata {
    display: flex;
    justify-content: space-between;
    width: 365px;
    align-items: center;
}

.blac {
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    color: white;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    padding: 12px 24px;
}

.bla {
    width: 156px;
    height: 41px;
    gap: 10px;
    border-radius: 6px;
    background: #101010;
    display: flex;
    justify-content: end;
    align-items: center;
}

iframe {
    width: 592px;
    height: 334px;
}

.grey {
    background-color: #E1E7ED;
    padding-top: 50px;
}

.azzza {
    font-size: 36px;
    font-weight: 600;
    line-height: 50.4px;
    text-align: center;
}

.card1 {
    background-color: #E1E7ED;
    width: 384px;
    border-radius: 6px;
    border: 2px solid #a2a2a2;
    margin-top: 40px;
}

.JC {
    display: flex;
    justify-content: space-between;
}

.zak {
    padding: 40px 30px;
}

.a20 {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 30px;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.sd {
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    text-align: left;
}

.a {
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
}
a{
    color: black;
}
.card1:hover{
    background-color: #1AAB7B;
    color: #ffffff;
}

.card1:hover a{
    color: white;
}
.st1{
    display: flex;
    justify-content: space-between;
}
.st2{
    display: flex;
    gap: 70px;
    padding-bottom: 50px;
}